{% extends "account/base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="all-account-pages">
    <h1 class="text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form class="all-account-form" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {% if form.errors %}
                    <small class="text-danger">{{ form.non_field_errors }}</small>
                {% endif %}

                {% for field in form %}
                <label for="{{ field.id }}">{{ field.label }}

                    {% if field.field.required %}
                    <i class="fas fa-star-of-life"></i>
                    {% endif %}
                </label>
                {{ field }}
                {% endfor %}
                <div class="mt-3 text-center btn-center"><button type="submit" class="btn-dark w-50 btn-account">{% trans 'Change password' %}</button></div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
