{% load i18n static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    {% now 'Y' as current_year %}
    <div id="header" class="header">
        <div class="container">
            <div class="auth text-end pt-1 pb-1">
                {% if user.is_authenticated %}
                <span class="me-3 text-dark">{% trans "З поверненням, " %} {{ user.username }}</span>

                <a class="text-dark text-decoration-none" title="{% trans 'Logout' %}"
                    href="{% url 'account_logout' %}">
                    <i class="fas fa-sign-out-alt"></i>
                    {% trans "Вихід" %}
                </a>
                {% else %}
                <a class="me-3 text-dark text-decoration-none" title="{% trans 'Login' %}"
                    href="{% url 'account_login' %}">
                    <i class="fas fa-sign-in-alt"></i>
                    {% trans "Увійти" %}
                </a>
                <a class="text-dark text-decoration-none" title="{% trans 'Sign Up' %}"
                    href="{% url 'account_signup' %}">
                    <i class="fas fa-user-plus"></i>
                    {% trans "Зареєструватись" %}
                </a>
                {% endif %}
            </div>
        </div>

        <div class="bg-dark">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbar-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-borders w-100 d-flex justify-content-between">
                            <li class="nav-item">
                                <a class="nav-link {% if is_homepage %}active active-home {% endif %}"
                                    aria-current="page" href="{% url 'home_page' %}">{% trans 'Домівка' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'history' %}">{% trans 'Історія' %}</a>
                            </li>
                            <li class="nav-item {% if is_rules_page %}active active-home {% endif %}">
                                <a class="nav-link" href="{% url 'rules' %}">{% trans 'Правила' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">{% trans 'Зала слави' %}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div id="main" class="main">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div id="footer" class="footer">
        <p>&copy created by <a href="https://play.google.com/store/apps/developer?id=Zhekun+Inc" target="_blank">Zhekun Inc</a> {{ current_year }}</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'font-awesome/js/all.min.js' %}"></script>

</body>

</html>